.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin: auto;
width: 80%;
}
.country-card {
  border: 1px solid black;
  margin: 25px;
  width: 300px;
}

img{
  width: 100%;
  height: 200px;
}